<section>
  <form [formGroup]="seminaryForm" (ngSubmit)="onSave()">
    <div>
      <h3>Seminary Name</h3>
      <input type="text" pInputText formControlName="name" />
    </div>
    <div>
      <h3>Teacher</h3>
      <p-dropdown placeholder="Select Teacher..." [options]="teachers" optionLabel="firstName"
        formControlName="teacher"></p-dropdown>
    </div>
    <div>
      <h3>Class Type</h3>
      <p-dropdown placeholder="Select Class..." [options]="classTypes" optionLabel="name" formControlName="classType">
      </p-dropdown>
    </div>
    <div>
      <h3>Student Group</h3>
      <p-dropdown placeholder="Select Student Group..." [options]="studentGroupList" optionLabel="name"
        formControlName="studentGroup"></p-dropdown>
    </div>
    <h3>
      <p-button label="Add Seminary" type="submit" [disabled]="!isFormValid"></p-button>
    </h3>
  </form>
</section>